/* Test */
.diagonal-box {
  background-image: linear-gradient(45deg, #c52233, #580c1f);
  transform: skewY(-11deg);
  z-index: -1;
  overflow: hidden;
  position: relative;
}

.image-container {
  transform: skewY(-11deg);
  object-fit: cover;
  background-image: linear-gradient(45deg, #ffc6cc, #e90b43);
  display: flex;
  justify-content: center;
}

#image-lol {
  width: 50%;
  height: 150px;
  
}

.second-box-lol {
  background-image: linear-gradient(45deg, #f55f36, #ae1c09);
  /* transform: skewY(-11deg); */
  position: relative;
  overflow: hidden;
  height: 800px;
  z-index: -1;
}

/* .diagonal-box:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, #654ea3, #eaafc8);
  transform: skewY(-11deg);
} */
.content {
  max-width: 50em;
  margin: 0 auto;
  transform: skewY(11deg);
}
